.header__content {
    text-align: center;
    margin: 40px auto 0;
    position: relative;
    z-index: 2;
    max-width: 1000px;
}

.header__content::before {
    content: '';
    background-color: #7CBA72;
    width: 73.3%;
    height: 109.7%;
    position: absolute;
    top: -34px;
    left: -56px;
    border: 2px solid #0E1220;
    box-shadow: 0px 4px 0px #0E1220;
    z-index: -1;
}

.header__content::after {
    content: '';
    background-color: #247A70;
    width: 71.7%;
    height: 104.8%;
    position: absolute;
    top: 10px;
    right: -59px;
    border: 2px solid #0E1220;
    box-shadow: 0px 4px 0px #0E1220;
    z-index: -1;
}

.header__background {
    min-height: 496px;
    background-color: #40AB7E;
    border: 2px solid #0E1220;
    box-shadow: 0px 4px 0px #0E1220;
    max-width: 100%;
}

.header__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 1.08;
    text-align: center;
    color: #0E1220;
    padding-top: 97px;
    max-width: 672px;
    margin: 0 auto;
}

.header__subtitle {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    padding-top: 30px;
    max-width: 589px;
    margin: 0 auto;
}

.header__button {
    margin-top: 20px;
    margin-bottom: 108px;
}

.header__labels {
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    max-width: calc(100% - 2*220px);
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

.header__label {
    align-self: center;
    line-height: 0;
    box-sizing: border-box;
}