.forecast {
    max-width: 1000px;
    margin: 0 auto;
}

.forecast__content {
    margin: 0 auto;
    padding-top: 135px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-bottom: 158px;
    max-width: 1000px;
}

.forecast__text {
    padding-top: 60px;
    padding-right: 20px;
    max-width: 306px;
}

.forecast__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 1.24;
    color: #FFFFFF;
    margin: 0;
}

.forecast__subtitle {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.48;
    color: #A9B0BE;
    margin: 0;
    padding-top: 21px;
}

.forecast__img {
    max-width: 607px;
    background-size: cover;
}