.empower {
    max-width: 1048px;
    margin: 0 auto;
    padding-top: 150px;
}

.empower__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.empower__subtitle {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.48;
    text-align: center;
    color: #A9B0BE;
    max-width: 579px;
    margin: 0 auto;
    padding-top: 16px;
}

.empower__title_smaller {
    font-weight: 400;
    padding-top: 74px;
    padding-bottom: 77px;
}